/* it is a css for default application defines simple behavior of sie */

/* DOCUMENT STYLE */
body
{
    background-color: #ccccff;
    color: #555555;
}

.container
{
    width: 1200px;
    margin: 0px auto;
}

.header
{
    background-color: #EEEEEE;
    height: 50px;
    
    /* Text properties */
    color: #cccccc;
    font-size: 40px;
    font-family: sans-serif;
    padding-left: 400px;
    padding-top:30px;
    border-radius: 10px;
}

.menu_element
{
    float:left;
    display:block;
    background-color: #ccffcc;
    margin-left:15px;
    padding: 4px;
    border-radius: 3px;
}
.menu_element > a
{
    text-decoration: none;
    color: black;
}


.menu
{
    clear:both;
}

.content
{
    clear:both;
    padding-top:10px;
}

/* FORM SETTINGS */
form
{
   border: 1px solid white;
   border-radius: 10px;
}
h1
{
    /* margin-bottom:-5px; */
    color:#AAAAAA;
    font-size: 12px;
}
form > div > div
{
    float:left;
    min-width: 150px;
}

form > div > input
{
    margin-right:50px;
}

form > div
{
    clear:both;
}
